.triple-triad-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // Vars
    $cardHeight: 120px;
    $cardWidth: 93px;
    $redCard: linear-gradient(180deg, rgba(255, 255, 255, 1) 22%, rgba(255, 0, 48, 1) 71%);
    $blueCard: linear-gradient(180deg, rgba(255, 255, 255, 1) 22%, rgba(0, 212, 255, 1) 71%);

    display: flex;
    justify-content: center;
    align-items: center;

    & .hand-container {
        display: flex;
        flex-direction: column;
        height: 760px;
        align-items: center;
        justify-content: flex-start;

        & .player-turn-indicator {
            height: 30px;
        }

        & .hand {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;

            & .score {
                text-align: center;
                font-size: 1.5rem;
                font-weight: bolder;
            }
        }
    }

    & .board {
        display: grid;
        grid-template-columns: repeat(3, $cardWidth);
        grid-template-rows: repeat(3, $cardHeight);
        text-align: center;
        margin: 10px;

        & .cell {
            border: 1px dashed black;
            cursor: pointer;

            &:hover {
                background: lightcyan;
            }
        }
    }

    & .card-container {

        border: 2px solid gold;
        margin: 3px 0;

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        &--selected {
            border: 2px solid red;
            transform: scale(1.1);
        }
    }

    & .card {
        height: $cardHeight;
        width: $cardWidth;

        &.flipped {
            transition: transform 0.6s;
            transform: rotateY(180deg);
            transform-style: preserve-3d;
        }
        &:hover {
            transition: transform 0.6s;
            transform: scaleX(-1);
            transform-style: preserve-3d;
        }

        &__face--front {

        }
        &__face--back {
            transform: rotateY(180deg);
        }

        backface-visibility: hidden;

        // Card colors
        &--red-card {
            background: $redCard;
        }

        &--blue-card {
            background: $blueCard;
        }
    }

    & .no-clicks {
        pointer-events: none;
    }
}